{{- $f := index .Fields 0 }}
{{- $r := Receiver .Name }}
{{- $a := ArrayType $f.Type }}
{{- $v := print .AliasOf "(" $r ")" }}
{{- if $a }}
	{{ $r }}a := {{ $v }}
	{{- $v = print $r "a" "[:]" }}
{{- end }}
return {{ GenerateFnCall .Conf $v "Size" $f.Type .Prefix $f.Options }}