{{- $r := Receiver .Name }}
{{- $c := .Conf }}
{{- $p := .Prefix }}
dtm, n, err := dts.UnmarshalDTM({{ $c.UnmarshalParam }})
if err != nil {
	return
}
var n1 int
switch dtm {
{{- range $index, $oneOf := .Oneof }}
	case {{ $oneOf }}DTM:
		{{ $r }}, n1, err = {{ $p }}{{ $oneOf }}DTS.UnmarshalData({{ $c.UnmarshalParam }})
{{- end }}
	default:
		err = fmt.Errorf("unexpected %v DTM", dtm)
		return
}
n += n1
return