{{- $l := FieldsLen . }}
{{- $r := Receiver .Name }}
{{- $p := .Prefix }}
{{- if eq $l 0 }}
	return
{{- else }}
	{{- $c := .Conf }}
	{{- range $i, $f := Fields . }}
		{{- $v := print $r "." $f.Name }}
		{{- if ArrayType $f.Type }}{{ $v = print $v "[:]"}}{{ end }}
		{{- $fnCall := GenerateFnCall $c $v "Marshal" $f.Type $p $f.Metadata }}
		{{- if or (not $f.Metadata) (not $f.Metadata.Ignore) }}
			{{- if eq $l 1 }}
				return {{ $fnCall }}
			{{- else }}
				{{- if $c.Stream }}

					{{- if eq $i 0 }}
						n, err = {{ $fnCall }}
					{{- end }}
					{{- if eq $i 1 }}
						var n1 int
					{{- end }}
					{{- if gt $i 0 }}
						n1, err = {{ $fnCall }}
						n += n1
					{{- end }}
					{{- if (lt $i (minus $l 1)) }}
						if err != nil {
							return
						}
					{{- end }}
					{{- if eq $i (minus $l 1) }}
						return
					{{- end }}

				{{- else }}

					{{- if eq $i 0 }}
						n = {{ $fnCall }}	
					{{- end }}
					{{- if and (gt $i 0) (lt $i (minus $l 1)) }}
						n += {{ $fnCall }}
					{{- end }}
					{{- if eq $i (minus $l 1) }}
						return n + {{ $fnCall }}
					{{- end }}

				{{- end }}
			{{- end }}
		{{- end }}
	{{- end }}
{{- end }}