{{- $l := FieldsLen . }}
{{- $p := .Prefix }}
{{- if eq $l 0 }}
	return
{{- else }}
	{{- $c := .Conf }}
	{{- range $i, $f := Fields . }}
		{{- $fnCall := GenerateFnCall $c "" "Skip" $f.Type $p $f.Metadata }}
		{{- if or (not $f.Metadata) (not $f.Metadata.Ignore) }}
			{{- if eq $l 1 }}
				return {{ $fnCall }}
			{{- else }}
				{{- if eq $i 0 }}
					n, err = {{ $fnCall }}
				{{- end }}
				{{- if eq $i 1 }}
					var n1 int
				{{- end }}
				{{- if ge $i 1 }}
					n1, err = {{ $fnCall }}
					n += n1
				{{- end }}
				{{- if lt $i (minus $l 1) }}
					if err != nil {
						return
					}
				{{- end }}
				{{- if eq $i (minus $l 1) }}
					return
				{{- end }}
			{{- end }}
		{{- end }}
	{{- end }}
{{- end }}	