{{- $l := FieldsLen . }}
{{- $r := Receiver .Name }}
{{- $p := .Prefix }}
{{- if eq $l 0 }}
	return
{{- else }}
	{{- $c := .Conf }}
	{{- range $i, $f := Fields . }}
		{{- $v := print $r "." $f.Name }}
		{{- if ArrayType $f.Type }}{{ $v = print $v "[:]"}}{{ end }}
		{{- $fnCall := GenerateFnCall $c $v "Size" $f.Type $p $f.Options }}
		{{- if or (not $f.Options) (not $f.Options.Ignore) }}
			{{- if eq $l 1 }}
				return {{ $fnCall }}
			{{- else }}
				{{- if eq $i 0 }}
					size = {{ $fnCall }}
				{{- end }}
				{{- if and (gt $i 0) (lt $i (minus $l 1)) }}
					size += {{ $fnCall }}
				{{- end }}
				{{- if eq $i (minus $l 1) }}
					return size + {{ $fnCall }}
				{{- end }}
			{{- end }}
		{{- end }}
	{{- end }}
{{- end }}	