{{/* {Map: map[data.AnonSerName]data.AnonData, Ops: genops.Options} */}}
{{- if gt (len .Map)  0 }}
	{{- $gops := .Ops }}
	var (
		{{- $constructorName := "" }}
		{{- range $name, $ad := .Map }}
{{- /* string type */}}
			{{- if eq $ad.Kind.String "string" }}
				{{- if ne $ad.LenVl "nil" }}
					{{- $constructorName = "NewValidStringSer" }}
				{{- else }}
					{{- $constructorName = "NewStringSer" }}
				{{- end }}
				{{ $name }} = ord.{{ $constructorName }}({{ StringOps $ad }})
			{{- end }}
{{- /* array type */}}
			{{- if eq $ad.Kind.String "array" }}
				{{- $elemSer := AnonElemSer $ad $gops }}
				{{- if ne $ad.ElemVl "nil" }}
					{{- $constructorName = "NewValidArraySer" }}
				{{- else }}
					{{- $constructorName = "NewArraySer" }}
				{{- end }}
				{{ $name }} = ord.{{ $constructorName }}[{{ RelName $ad.ArrType $gops }}, {{ RelName $ad.ElemType $gops }}]({{ $elemSer }}{{ WithComma (ArrayOps $ad) }})
			{{- end }}
{{- /* byte slice type */}}
			{{- if eq $ad.Kind.String "byteSlice" }}
				{{- if ne $ad.LenVl "nil" }}
					{{- $constructorName = "NewValidByteSliceSer" }}
				{{- else }}
					{{- $constructorName = "NewByteSliceSer" }}
				{{- end }}
				{{ $name }} = ord.{{ $constructorName }}({{ ByteSliceOps $ad }})
			{{- end }}
{{- /* slice type */}}
			{{- if eq $ad.Kind.String "slice" }}
				{{- $elemSer := AnonElemSer $ad $gops }}
				{{- if or (ne $ad.LenVl "nil") (ne $ad.ElemVl "nil") }}
					{{- $constructorName = "NewValidSliceSer" }}
				{{- else }}
					{{- $constructorName = "NewSliceSer" }}
				{{- end }}
				{{ $name }} = ord.{{ $constructorName }}[{{ RelName $ad.ElemType $gops }}]({{ $elemSer }}{{ WithComma (SliceOps $ad) }})
			{{- end }}
{{- /* map type */}}
			{{- if eq $ad.Kind.String "map" }}
				{{- $keySer := AnonKeySer $ad $gops }}
				{{- $elemSer := AnonElemSer $ad $gops }}
				{{- if or (ne $ad.LenVl "nil") (ne $ad.KeyVl "nil") (ne $ad.ElemVl "nil") }}
					{{- $constructorName = "NewValidMapSer" }}
				{{- else}}
					{{- $constructorName = "NewMapSer" }}
				{{- end }}
				{{ $name }} = ord.{{ $constructorName }}[{{ RelName $ad.KeyType $gops }}, {{ RelName $ad.ElemType $gops }}]({{ $keySer}}, {{ $elemSer }}{{ WithComma (MapOps $ad) }})
			{{- end }}
{{- /* ptr type */}}
			{{- if eq $ad.Kind.String "ptr" }}
				{{- $elemSer := AnonElemSer $ad $gops }}
				{{ $name }} = ord.NewPtrSer[{{ RelName $ad.ElemType $gops }}]({{ $elemSer }})
			{{- end }}
		{{- end }}
	)
{{- end }}