{{/* {Map: map[adesc.AnonymousName]adesc.AnonymousDesc, Ops: genops.Options} */}}
{{- if gt (len .Map)  0 }}
	{{- $gops := .Ops }}
	var (
		{{- $constructorName := "" }}
		{{- range $name, $ad := .Map }}
{{- /* string type */}}
			{{- if eq $ad.Kind "string" }}
				{{- if ne $ad.LenVl "nil" }}
					{{- $constructorName = "NewValidStringSer" }}
				{{- else }}
					{{- $constructorName = "NewStringSer" }}
				{{- end }}
				{{ $ad.Name }} = ord.{{ $constructorName }}({{ MakeStringOps $ad }})
			{{- end }}
{{- /* array type */}}
			{{- if eq $ad.Kind "array" }}
				{{- $elemSer := ElemSerializer $ad $gops }}
				{{- if ne $ad.ElemVl "nil" }}
					{{- $constructorName = "NewValidArraySer" }}
				{{- else }}
					{{- $constructorName = "NewArraySer" }}
				{{- end }}
				{{ $ad.Name }} = ord.{{ $constructorName }}[{{ $ad.Type }}, {{ $ad.ElemType }}]({{ $ad.ArrLength }}, {{ $elemSer }}, {{ MakeArrayOps $ad }})
			{{- end }}
{{- /* byte slice type */}}
			{{- if eq $ad.Kind "byte_slice" }}
				{{- if ne $ad.LenVl "nil" }}
					{{- $constructorName = "NewValidByteSliceSer" }}
				{{- else }}
					{{- $constructorName = "NewByteSliceSer" }}
				{{- end }}
				{{ $ad.Name }} = ord.{{ $constructorName }}({{ MakeByteSliceOps $ad }})
			{{- end }}
{{- /* slice type */}}
			{{- if eq $ad.Kind "slice" }}
				{{- $elemSer := ElemSerializer $ad $gops }}
				{{- if or (ne $ad.LenVl "nil") (ne $ad.ElemVl "nil") }}
					{{- $constructorName = "NewValidSliceSer" }}
				{{- else }}
					{{- $constructorName = "NewSliceSer" }}
				{{- end }}
				{{ $ad.Name }} = ord.{{ $constructorName }}[{{ $ad.ElemType }}]({{ $elemSer }}, {{ MakeSliceOps $ad }})
			{{- end }}
{{- /* map type */}}
			{{- if eq $ad.Kind "map" }}
				{{- $keySer := KeySerializer $ad $gops }}
				{{- $elemSer := ElemSerializer $ad $gops }}
				{{- if or (ne $ad.LenVl "nil") (ne $ad.KeyVl "nil") (ne $ad.ElemVl "nil") }}
					{{- $constructorName = "NewValidMapSer" }}
				{{- else}}
					{{- $constructorName = "NewMapSer" }}
				{{- end }}
				{{ $ad.Name }} = ord.{{ $constructorName }}[{{ $ad.KeyType }}, {{ $ad.ElemType }}]({{ $keySer}}, {{ $elemSer }}, {{ MakeMapOps $ad }})
			{{- end }}
{{- /* ptr type */}}
			{{- if eq $ad.Kind "ptr" }}
				{{- $elemSer := ElemSerializer $ad $gops }}
				{{ $ad.Name }} = ord.NewPtrSer[{{ $ad.ElemType }}]({{ $elemSer }})
			{{- end }}
		{{- end }}
	)
{{- end }}