{{- /* {VarName string, FieldsCount int, Field tdesc.FieldDesc, Index int, Gops genops.Options} */}}
{{- $ulp := .Gops.UnmarshalLastParam false }}
{{- if eq .Index 0 }}
	{{- $ulp = .Gops.UnmarshalLastParam true }}
{{- end}}

{{- $vf := print .VarName "." .Field.Name }}
{{- $fieldSer := SerializerOf .Field .Gops }}
{{- if eq .Index 1 }}
	var n1 int
{{- end }}
{{- $nVar := "n" }}
{{- if gt .Index 0 }}
	{{- $nVar = "n1" }}
{{- end }}
{{ $vf }}, {{ $nVar }}, err = {{ $fieldSer }}.Unmarshal({{ $ulp }})
{{- if ge .Index 1 }}
	n += n1
{{- end }}		
{{- if and .Field.Tops (ne .Field.Tops.Validator "") }}
	if err != nil {
		return
	}
	err = {{ .Field.Tops.Validator }}({{ $vf }})
{{- end }}
{{- if and (ne .FieldsCount 1) (ne .Index (minus .FieldsCount 1))}}
	if err != nil {
		return
	}
{{- end }}