{{/* genops.Options */}}
import (
	com "github.com/mus-format/common-go"
	{{- if .Stream }}
		mus "github.com/mus-format/mus-stream-go"
		"github.com/mus-format/mus-stream-go/ord"
		"github.com/mus-format/mus-stream-go/raw"
		"github.com/mus-format/mus-stream-go/unsafe"
		"github.com/mus-format/mus-stream-go/varint"
		dts "github.com/mus-format/dts-stream-go"
		ext "github.com/mus-format/ext-stream-go"
		arrops "github.com/mus-format/mus-stream-go/options/array"
		bslops "github.com/mus-format/mus-stream-go/options/byte_slice"
		mapops "github.com/mus-format/mus-stream-go/options/map"
		slops "github.com/mus-format/mus-stream-go/options/slice"
		strops "github.com/mus-format/mus-stream-go/options/string"
	{{- else }}
	  "github.com/mus-format/mus-go"
		"github.com/mus-format/mus-go/ord"
		"github.com/mus-format/mus-go/raw"
		"github.com/mus-format/mus-go/unsafe"
		"github.com/mus-format/mus-go/varint"
		dts "github.com/mus-format/dts-go"
		ext "github.com/mus-format/ext-go"
		arrops "github.com/mus-format/mus-go/options/array"
		bslops "github.com/mus-format/mus-go/options/byte_slice"
		mapops "github.com/mus-format/mus-go/options/map"
		slops "github.com/mus-format/mus-go/options/slice"
		strops "github.com/mus-format/mus-go/options/string"
	{{- end }}
	{{- if .Imports }}
		{{- range $i, $imp := .Imports }}
			{{ $imp }}
		{{- end }}
	{{- end }}
)
