{{/* data.TypeData */}}
{{- $serVar := SerVar .FullName }}
{{- $serType := SerType .FullName }}
{{- $v := SerReceiver . }}
{{- $Type := RelName .FullName .Gops }}
{{- $td := . }}
{{- $mslp := .Gops.MarshalSignatureLastParam }}
{{- $uslp := .Gops.UnmarshalSignatureLastParam }}
{{- $gops := .Gops }}

var {{ $serVar }} = {{ $serType }}{}

type {{ $serType }} struct{}

func (s {{ $serType }}) Marshal({{ $v }} {{ $Type }}, {{ $mslp }}) (n int {{ if $gops.Stream }} , err error {{ end }}) {
	{{- if eq (len .SerializedFields) 0}}
		return
	{{- else }}
		{{- range $i, $f := .SerializedFields }}
			{{- include "field_marshal.tmpl" (FieldTmplPipe $td $f $i $gops) }}		
		{{- end }}
	{{- end }}
}

func (s {{ $serType }}) Unmarshal({{ $uslp }}) ({{ $v }} {{ $Type }}, n int, err error) {
	{{- range $i, $f := .SerializedFields }}
			{{- include "field_unmarshal.tmpl" (FieldTmplPipe $td $f $i $gops) }}		
	{{- end }}
	return
}

func (s {{ $serType }}) Size({{ $v }} {{ $Type }}) (size int) {
	{{- if eq (len .Fields) 0}}
		return
	{{- else }}
		{{- range $i, $f := .SerializedFields }}
			{{- include "field_size.tmpl" (FieldTmplPipe $td $f $i $gops) }}		
		{{- end }}
	{{- end }}
}

func (s {{ $serType }}) Skip({{ $uslp }}) (n int, err error) {
	{{- range $i, $f := .SerializedFields }}
		{{- include "field_skip.tmpl" (FieldTmplPipe $td $f $i $gops) }}		
	{{- end }}
	return
}