{{/* data.TypeData */}}
{{- $dtsVar := DTSVar .FullName }}
{{- $dtmVar := DTMVar .FullName }}
{{- $serVar := SerVar .FullName }}
{{- $Type := RelName .FullName .Gops }}

var {{ $dtsVar }} = dts.New[{{ $Type }}]({{ $dtmVar }}, {{ $serVar }})